<div class="w-full py-5 h-full gap-5 bg-white">
    <div class=" px-5 gap-2 flex flex-col md:flex-row xl:flex-row">

        <div class="flex w-full h-11 gap-5 rounded-md ps-2 ">
            <p class="w-1/2 flex   items-center content-center h-full">Client Name</p>
            <input class="w-full rounded-md text-blue-900  ps-2 h-full  bg-[#E8F0FE]" type="text">
        </div>
        <div class="flex w-full h-11 gap-5 rounded-md ps-2 ">
            <p class="w-1/2 flex   items-center content-center h-full">GST Number</p>
            <input class="w-full rounded-md text-blue-900  ps-2 h-full  bg-[#E8F0FE]" type="text">
        </div>
        <div class="flex w-full h-11 gap-5 rounded-md ps-2 ">
            <p class="w-1/2 flex   items-center content-center h-full">Client Address </p>
            <input class="w-full rounded-md text-blue-900  ps-2 h-full  bg-[#E8F0FE]" type="text">
        </div>
      

    </div>
    <div class="pt-5 px-5 gap-2 flex flex-col md:flex-row xl:flex-row">
        
        <div class="flex w-full h-11 gap-5 rounded-md ps-2 ">
            <p class="w-1/2 flex   items-center content-center h-full">Contact person </p>
            <input class="w-full rounded-md text-blue-900  ps-2 h-full  bg-[#E8F0FE]" type="text">
        </div>
        <div class="flex w-full h-11 gap-5 rounded-md ps-2 ">
            <p class="w-1/2 flex   items-center content-center h-full">Mobile Number </p>
            <input class="w-full rounded-md text-blue-900  ps-2 h-full  bg-[#E8F0FE]" type="text">

        </div>   
        <div class="flex w-full h-11 gap-5 rounded-md ps-2 ">
            <p class="w-1/2 flex   items-center content-center h-full">Email </p>
            <input class="w-full rounded-md text-blue-900  ps-2 h-full  bg-[#E8F0FE]" type="text">
        </div>
      
    </div>
    <div class="pt-5 px-5 gap-2 flex flex-col md:flex-row xl:flex-row">
     
        
        <div class="flex w-full h-11 gap-5 rounded-md ps-2 ">
            <p class="w-1/2 flex   items-center content-center h-full">Project </p>
            <input class="w-full rounded-md text-blue-900  ps-2 h-full  bg-[#E8F0FE]" type="text">
        </div>
        <div class="flex w-full h-11 gap-5 rounded-md ps-2">
            <p class="w-1/2 flex   items-center content-center h-full">Partner Incharge </p>
            <input class="w-full rounded-md text-blue-900  ps-2 h-full  bg-[#E8F0FE]" type="text">
        </div>
        <div class="flex w-full h-11 gap-5 rounded-md ps-2">
           
        </div>
    </div>
    <div class=" flex justify-center gap-2 items-center p-2 mt-3">
        <input id="active" class=" h-5  rounded " type="checkbox">
        <label for="active" class=" flex  items-center rounded-md content-center h-full">Active </label>
        </div>
    <div class=" flex justify-center items-center p-2 mt-3">
           
            <Button class="bg-green-700 rounded shadow-md shadow-black/60 text-white w-36 hover:scale-[103%]  focus-within:border-blue-700 focus-within:scale-[103%]  0 p-2 flex items-center justify-center"> Submit</Button>
       
    </div>
</div>

<div class="static w-full  p-5">

    <div class=" w-full border border-[#DDDDDD] ">
        <div class="grid grid-cols-8  ">
            <div
                class="bg-[#3498DB] text-white p-1 text-[8px] xs:text-[3px] sm:text-[5px] lg:text[8px] md:text-[10px] xl:text-[13px] 2xl:text-[15px] border-white font-bold flex justify-center items-center   border text-center border-e-0">
                Date Of Join</div>
            <div
                class="bg-[#3498DB] text-white p-1 text-[8px] xs:text-[3px] sm:text-[5px] lg:text[8px] md:text-[10px] xl:text-[13px] 2xl:text-[15px] border-white font-bold flex justify-center items-center   border text-center border-e-0">
                Employee Code</div>
            <div
                class="bg-[#3498DB] text-white p-1 text-[8px] xs:text-[3px] sm:text-[5px] lg:text[8px] md:text-[10px] xl:text-[13px] 2xl:text-[15px] border-white font-bold flex justify-center items-center   border text-center border-e-0">
                Name</div>
            <div
                class="bg-[#3498DB] text-white p-1 text-[8px] xs:text-[3px] sm:text-[5px] lg:text[8px] md:text-[10px] xl:text-[13px] 2xl:text-[15px] border-white font-bold flex justify-center items-center   border text-center border-e-0">
                Company Name</div>
            <div
                class="bg-[#3498DB] text-white p-1 text-[8px] xs:text-[3px] sm:text-[5px] lg:text[8px] md:text-[10px] xl:text-[13px] 2xl:text-[15px] border-white font-bold flex justify-center items-center   border text-center border-e-0">
                Role</div>
            <div
                class="bg-[#3498DB] text-white p-1 text-[8px] xs:text-[3px] sm:text-[5px] lg:text[8px] md:text-[10px] xl:text-[13px] 2xl:text-[15px] border-white font-bold flex justify-center items-center   border text-center border-e-0">
                Designation</div>
            <div
                class="bg-[#3498DB] text-white p-1 text-[8px] xs:text-[3px] sm:text-[5px] lg:text[8px] md:text-[10px] xl:text-[13px] 2xl:text-[15px] border-white font-bold flex justify-center items-center   border text-center border-e-0">
                Gender</div>
            <div
                class="bg-[#3498DB] text-white p-1 text-[8px] xs:text-[3px] sm:text-[5px] lg:text[8px] md:text-[10px] xl:text-[13px] 2xl:text-[15px] border-white font-bold flex justify-center items-center   border text-center ">
                Email</div>
        </div>
    </div>
</div>