<div class="flex items-center justify-center w-full min-h-screen bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-lg">
        <h2 class="text-2xl font-bold mb-4 text-center">Forgot Password</h2>
        <mat-stepper [linear]="isLinear" orientation="vertical" #stepper>
            <mat-step [stepControl]="emailForm">
                <ng-template class="w-full" matStepLabel>Registered E-mail Address</ng-template>
                <form action="" [formGroup]="emailForm">
                    <div>
                        <div class="mb-4">
                            <!-- <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email Address</label> -->
                            <input type="email" formControlName="email" id="email"
                                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                                placeholder="Enter your email" />
                            <mat-error
                                *ngIf="emailForm.controls['email'].errors?.['required'] && (emailForm.get('email')?.dirty || emailForm.get('email')?.touched)">
                                Password is <strong>required</strong>
                            </mat-error>
                            <mat-hint class="text-gray-500" *ngIf="validEmail">
                                Enter Valid Email ID
                            </mat-hint>
                        </div>
                        <button mat-button 
                        class="w-full bg-blue-500  hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                       Get OTP
                    </button>
                        <!--  [disabled]="nextbutton" -->
                        <div class="my-4">
                            <!-- <label for="OTP" class="block text-gray-700 text-sm font-bold mb-2">OTP</label> -->
                            <input type="OTP"  id="OTP"
                                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                                placeholder="Enter your OTP" />
                            <!-- <mat-error
                                *ngIf="emailForm.controls['OTP'].errors?.['required'] && (emailForm.get('OTP')?.dirty || emailForm.get('OTP')?.touched)">
                                OTP is <strong>required</strong>
                            </mat-error> -->
                            <!-- <mat-hint class="text-gray-500" >
                                Enter Valid OTP
                            </mat-hint> -->
                        </div>
                        <button mat-button matStepperNext
                        class="w-full bg-blue-500  hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                        Next
                    </button>
                    </div>
                </form>
            </mat-step>
            <mat-step label="Fill out new password" [stepControl]="passwordForm">

                <div>
                    <form action="" [formGroup]="passwordForm">
                        <div class="w-full mt-8">
                            <div class="text-xl">Password Strength</div>
                            <div class="mb-6 h-1 w-full bg-neutral-200 dark:bg-neutral-600">
                                <div
                                    class="h-1  {{passwordStrength==30?'w-[35%] bg-red-600':''}} {{passwordStrength==65?'w-[55%] bg-yellow-500':''}}{{passwordStrength==100?'w-full  bg-green-600 ':''}}">
                                </div>
                            </div>
                        </div>
                        <div class="">

                            <mat-icon class="icon-size-5 pt-2" [svgIcon]="'heroicons_solid:exclamation-triangle'"
                                matPrefix></mat-icon>
                            <mat-label> Please choose a stronger password. Try a mix of letters, numbers, and
                                symbols.</mat-label>
                        </div>
                        <!-- Password-->
                        <div class="grid  gap-6 w-full mt-8">

                            <div class="sm:col-span-2">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <label  class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                                  
                                    <!-- <mat-label>Password </mat-label> -->
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:key'"
                                        matPrefix></mat-icon>
                                    <input [type]="pass1" (cut)="DisableCut($event)" (copy)="DisableCopy($event)"
                                        (paste)="DisablePaste($event)" (keyup)="passWordStrength()" appBlockCopyPaste
                                         [formControlName]="'password'" matInput>
                                    <button (click)="pass1Vissible()" matSuffix mat-icon-button aria-label="Clear">
                                        <mat-icon *ngIf="pass1=='text'">visibility</mat-icon>
                                        <mat-icon *ngIf="pass1=='password'">visibility_off</mat-icon>
                                    </button>

                                    <mat-error
                                        *ngIf="passwordForm.controls['password'].errors?.['required'] && (passwordForm.get('password')?.dirty || passwordForm.get('password')?.touched)">
                                        Password is <strong>required</strong>
                                    </mat-error>
                                    <mat-hint *ngIf="partternMismatch">
                                        Password min 8 charaters and try a mix of letters, numbers, and symbols.
                                    </mat-hint>

                                </mat-form-field>
                            </div>
                            <div class="sm:col-span-2">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <label  class="block text-gray-700 text-sm font-bold mb-2">Confirm Password</label>
                                    
                                    <!-- <mat-label>Confirm Password</mat-label> -->
                                    <mat-icon appBlockCopyPaste class="icon-size-5" [svgIcon]="'heroicons_solid:key'"
                                        matPrefix></mat-icon>
                                    <input [type]="pass2" (cut)="DisableCut($event)" 
                                        (copy)="DisableCopy($event)" (paste)="DisablePaste($event)"
                                        [formControlName]="'conPassword'" matInput>
                                    <button (click)="pass2Vissible()" matSuffix mat-icon-button aria-label="Clear">
                                        <mat-icon *ngIf="pass2=='text'">visibility</mat-icon>
                                        <mat-icon *ngIf="pass2=='password'">visibility_off</mat-icon>
                                    </button>

                                    <mat-error
                                        *ngIf="passwordForm.controls['conPassword'].errors?.['required'] && (passwordForm.get('conPassword')?.dirty || passwordForm.get('conPassword')?.touched)">
                                        Password is <strong>required</strong>
                                    </mat-error>

                                    <mat-error *ngIf="passwordForm.controls['conPassword'].errors?.['invalid']">
                                        <strong>password invalid</strong>
                                    </mat-error>
                                    <mat-hint *ngIf="passwordMismatch">
                                        <strong>password Mismatch</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="flex col-span-2 ">
                                <div>
                                    <button mat-button matStepperPrevious
                                        class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                        Back
                                    </button>
                                </div>
                                <div class="ps-3"> <button
                                        class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                        Reset Password
                                    </button></div>

                            </div>
                        </div>

                    </form>
                </div>
                <!-- <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div> -->
            </mat-step>
        </mat-stepper>

    </div>
</div>